$display-values: none, inline, inline-block, block, grid, table, table-cell, table-row, flex, inline-flex;


@mixin core-styles($breakpoint: null) {
  @if($breakpoint) {
    @each $display in $display-values {
      .mdx-d--#{$display}-#{$breakpoint} {
        display: $display !important;
      }
    }
  } @else {
    @each $display in $display-values {
      .mdx-d--#{$display} {
        display: $display !important;
      }
    }
  }
}